---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?appid=<WEATHERAPIKEY>&units=imperial&zip=04457
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":420016193,"name":"Bangor","coord":{"lon":-68.5048,"lat":45.3622},"country":"US","population":0},"cod":"200","message":13.6812515,"cnt":7,"list":[{"dt":1551801600,"temp":{"day":13.68,"min":10.47,"max":13.68,"night":10.47,"eve":13.68,"morn":13.68},"pressure":1012.69,"humidity":58,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":4.05,"deg":283,"clouds":36},{"dt":1551888000,"temp":{"day":16.75,"min":8.42,"max":19.9,"night":8.42,"eve":15.4,"morn":10.42},"pressure":1010.62,"humidity":49,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":5.61,"deg":296,"clouds":36,"snow":0.48},{"dt":1551974400,"temp":{"day":13.41,"min":0.48,"max":14.63,"night":5.59,"eve":14.23,"morn":2.89},"pressure":1020.3,"humidity":52,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":5.19,"deg":271,"clouds":0,"snow":0.05},{"dt":1552060800,"temp":{"day":23.54,"min":5.5,"max":23.54,"night":6.64,"eve":21,"morn":5.5},"pressure":1024.42,"humidity":0,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":6.51,"deg":245,"clouds":36,"snow":0.09},{"dt":1552147200,"temp":{"day":27.73,"min":3.79,"max":27.73,"night":3.79,"eve":13.71,"morn":4.48},"pressure":1030.7,"humidity":0,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":3.4,"deg":317,"clouds":48},{"dt":1552233600,"temp":{"day":35.11,"min":4.82,"max":35.11,"night":29.53,"eve":30.13,"morn":4.82},"pressure":1033.33,"humidity":0,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"speed":9.19,"deg":200,"clouds":40,"snow":1.94},{"dt":1552320000,"temp":{"day":38.86,"min":30.56,"max":38.86,"night":32.61,"eve":34.21,"morn":30.56},"pressure":1019.04,"humidity":0,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":3.4,"deg":76,"clouds":96,"rain":0.32,"snow":0.91}]}'
  recorded_at: Wed, 06 Mar 2019 01:00:50 GMT
[...]
