---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?appid=<WEATHERAPIKEY>&units=imperial&zip=12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":420026089,"name":"Schenectady","coord":{"lon":-73.9396,"lat":42.8142},"country":"US","population":0},"cod":"200","message":9.8654346,"cnt":7,"list":[{"dt":1551805200,"temp":{"day":20.01,"min":12.83,"max":20.01,"night":12.83,"eve":20.01,"morn":20.01},"pressure":1013.21,"humidity":54,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":3.83,"deg":316,"clouds":80,"snow":0.5},{"dt":1551891600,"temp":{"day":18.97,"min":8.76,"max":18.97,"night":9.5,"eve":15.19,"morn":8.76},"pressure":1019.02,"humidity":31,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":8.46,"deg":299,"clouds":36,"snow":0.22},{"dt":1551978000,"temp":{"day":21.97,"min":6.12,"max":21.97,"night":6.44,"eve":18.18,"morn":6.12},"pressure":1024.9,"humidity":40,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":5.95,"deg":282,"clouds":36,"snow":0.1},{"dt":1552064400,"temp":{"day":28.89,"min":9.39,"max":28.89,"night":9.39,"eve":21.36,"morn":14.81},"pressure":1027.42,"humidity":0,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":3.71,"deg":228,"clouds":0},{"dt":1552150800,"temp":{"day":37.27,"min":7.18,"max":37.27,"night":14.14,"eve":24.78,"morn":7.18},"pressure":1029.86,"humidity":0,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":3.4,"deg":216,"clouds":0},{"dt":1552237200,"temp":{"day":37,"min":10.22,"max":37,"night":34.57,"eve":36.55,"morn":10.22},"pressure":1029.49,"humidity":0,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":6.93,"deg":154,"clouds":78,"rain":1.34,"snow":0.05},{"dt":1552323600,"temp":{"day":45.7,"min":31.51,"max":45.7,"night":35.62,"eve":43.7,"morn":31.51},"pressure":1017.96,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":2.59,"deg":184,"clouds":88,"rain":0.58}]}'
  recorded_at: Wed, 06 Mar 2019 01:00:16 GMT
recorded_with: VCR 4.0.0
