---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages.json
    body:
      encoding: UTF-8
      string: Body=There+is+a+forecast+of+frost+in+your+area+in+the+next+7+days.&From=%2B18053167227&To=%2B18052156547
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwZTEzNGQ0NGJlOTg1MTNmZDE4M2Q0MTRhNjQ4ZDQ4NDozZjk2YzRhOTQyZGQ3OWQyNWVlNWY1ODg2ZjExMTEzZQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ3ca76b839da147b5979c89ca4e5bb407
      Twilio-Request-Duration:
      - '0.119'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SMec79a6108a0640f9bb99ff07e12e8d44", "date_created": "Thu,
        28 Mar 2019 19:49:18 +0000", "date_updated": "Thu, 28 Mar 2019 19:49:18 +0000",
        "date_sent": null, "account_sid": "<TWILIOAPIKEY>", "to": "<TWILIOTO>", "from":
        "<TWILIOFROM>", "messaging_service_sid": null, "body": "Sent from your Twilio
        trial account - There is a forecast of frost in your area in the next 7 days.",
        "status": "queued", "num_segments": "1", "num_media": "0", "direction": "outbound-api",
        "api_version": "2010-04-01", "price": null, "price_unit": "USD", "error_code":
        null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages/SMec79a6108a0640f9bb99ff07e12e8d44.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages/SMec79a6108a0640f9bb99ff07e12e8d44/Media.json"}}'
  recorded_at: Thu, 28 Mar 2019 19:49:17 GMT
recorded_with: VCR 4.0.0
