---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"<SENDGRID_TEST_FROM>"},"subject":"Test subject from
        sendgrid","personalizations":[{"to":[{"email":"<SENDGRID_TEST_TO>"}]}],"content":[{"type":"text/plain","value":"This
        is a test SendGrid email from Coldsnapp"}]}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Message-Id:
      - QD_b02kjRNuHGf4mMB-Mew
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Mar 2019 01:56:09 GMT
recorded_with: VCR 4.0.0
