---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages.json
    body:
      encoding: UTF-8
      string: Body=This+is+a+test+from+twilio_service_spec.rb&From=%2B18053167227&To=%2B18052156547
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMwZTEzNGQ0NGJlOTg1MTNmZDE4M2Q0MTRhNjQ4ZDQ4NDozZjk2YzRhOTQyZGQ3OWQyNWVlNWY1ODg2ZjExMTEzZQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.059'
      Twilio-Request-Id:
      - RQ1b3fcb24288a491aa7c120904c9f8e3b
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMcff89ce296624cbfbbbfb8077475b837", "date_created": "Wed,
        06 Mar 2019 01:02:33 +0000", "date_updated": "Wed, 06 Mar 2019 01:02:33 +0000",
        "date_sent": null, "account_sid": "<TWILIOAPIKEY>", "to": "<TWILIOTO>", "from":
        "<TWILIOFROM>", "messaging_service_sid": null, "body": "Sent from your Twilio
        trial account - This is a test from twilio_service_spec.rb", "status": "queued",
        "num_segments": "1", "num_media": "0", "direction": "outbound-api", "api_version":
        "2010-04-01", "price": null, "price_unit": "USD", "error_code": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages/SMcff89ce296624cbfbbbfb8077475b837.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages/SMcff89ce296624cbfbbbfb8077475b837/Media.json"}}'
  recorded_at: Wed, 06 Mar 2019 01:02:33 GMT
- request:
    method: get
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMwZTEzNGQ0NGJlOTg1MTNmZDE4M2Q0MTRhNjQ4ZDQ4NDozZjk2YzRhOTQyZGQ3OWQyNWVlNWY1ODg2ZjExMTEzZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.088'
      Twilio-Request-Id:
      - RQd7da53ef51cc4350a9cbdb5c72415502
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"first_page_uri": "/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages.json?PageSize=50&Page=0",
        "end": 49, "previous_page_uri": null, "messages": [{"sid": "SMcff89ce296624cbfbbbfb8077475b837",
        "date_created": "Wed, 06 Mar 2019 01:02:33 +0000", "date_updated": "Wed, 06
        Mar 2019 01:02:33 +0000", "date_sent": "Wed, 06 Mar 2019 01:02:33 +0000",
        "account_sid": "<TWILIOAPIKEY>", "to": "<TWILIOTO>", "from": "<TWILIOFROM>",
        "messaging_service_sid": null, "body": "Sent from your Twilio trial account
        - This is a test from twilio_service_spec.rb", "status": "sent", "num_segments":
        "1", "num_media": "0[...]
- request:
    method: get
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIOAPIKEY>/Messages.json?Page=1&PageSize=50&PageToken=PASM7e4c635676fc4b32b81021c2db57db16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMwZTEzNGQ0NGJlOTg1MTNmZDE4M2Q0MTRhNjQ4ZDQ4NDozZjk2YzRhOTQyZGQ3OWQyNWVlNWY1ODg2ZjExMTEzZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
[...]
