---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"joshneipp@gmail.com"},"subject":"Test subject from
        sendgrid","personalizations":[{"to":[{"email":"joshneipp@gmail.com"}]}],"content":[{"type":"text/plain","value":"This
        is a test SendGrid email from Coldsnapp"}]}'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Message-Id:
      - 5qLr8AnbQsCfXlcD8MyPoQ
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 14 Mar 2019 02:07:12 GMT
recorded_with: VCR 4.0.0
