/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   background-color: #d4f0ff
 }

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.form {
  margin-top: 20px;
}

.roboto {
  font-family: 'Roboto Slab', serif;
}

.raleway {
  font-family: 'Raleway', serif;
}

.bold {
  font-weight: 700;
}

.font-24 {
  font-size: 24px;
}

.font-16 {
  font-size: 16px;
}

div label {
  margin-left: 10px;
}

input[type="text"] {
  padding: 12px;
  width: 200px;
  font: 14px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn {
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}